.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #111827;
}

.empty-text {
  text-align: center;
  color: gray;
  font-size: 18px;
}

/* CARD */
.booking-card {
  display: flex;
  align-items: center;
  gap: 15px;

  background: white;
  padding: 15px;
  margin: 15px auto;

  border-radius: 12px;
  max-width: 70px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* IMAGE FIX (NORMAL SIZE) */
.booking-img {
  width: 70px;        /* normal thumbnail size */
  height: 70px;

  object-fit: cover;  /* prevents stretching */

  border-radius: 10px;

  flex-shrink: 0;
}

/* TEXT AREA */
.booking-info {
  flex: 1;
}

.booking-info h3 {
  margin-bottom: 5px;
}

/* DELETE BUTTON */
.delete-btn {
  margin-top: 10px;

  background: crimson;
  color: white;

  border: none;
  padding: 10px 15px;

  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background: darkred;
}